@{
    ViewBag.Title = "About";
}
<h2 class="text-center" >@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our business strives to cover all comic book stores in your area under one umbrella</p>
<p>linking all the stores to create one big nerd-topia</p>
