
@{
    ViewBag.Title = "Favorites";
}

<h2 class=" text-center">Favorites</h2>

<table class="center-block" width="85%" border="1">
    <tr>
        <td>
            <img src="~/Images/Hulk.jpg" height="250" width="200"/>
        </td>
        <td>
            <p>
                Since 2018, Immortal Hulk has proven to be one of the most horrifying and
                popular Marvel titles currently being published. But with the end of the
                series rapidly approaching, Marvel's latest Hulk adventure has turned the
                clock backwards to explore the twisted history behind the Green Door. 
                Immortal Hulk: Time of Monsters #1 exposes the story behind the first
                person who was resurrected through the Green Door and shows the deadly
                cost that comes with immortality, while also showing that in the modern
                era, Bruce Banner is a terrifying force for good.
                <br /><br />
                Immortal Hulk: Time of Monsters #1 opens with a quote from The Epic of 
                Gilgamesh, as a young man named Tammuz finds himself tricked into a 
                ritualistic sacrifice in the year 9,500 BCE. As his people suffer for want 
                of food and resources, Tammuz is pulled into the "Good Green Eye" of the 
                Mother Goddess, which transforms his body and takes him through the Green 
                Door. Shortly after, the locals go looking for Tammuz, only find themselves 
                face-to-face with a horrific beast, the likes of which they've never seen. 
                As their battle with the beast wages on, mysterious forces ensure that 
                Tammuz's sacrifice was not in vain.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Images/justice-league.jpg" height="250" width="200" />
        </td>
        <td>
            <p>
                The Justice League has been the most stable, prestigious team in the DC Universe 
                for a long time. but this superhero ensemble finds itself tearing apart at the 
                seams from within in the new miniseries Justice League: Last Ride. Written by 
                Chip Zdarsky and illustrated by Miguel Mendoca, the title was originally slated 
                as a digital-first series before being resolicited as a conventional, eight-issue 
                miniseries. And judging by the story's opening issue, Zdarsky and Mendoca are 
                crafting one of the rawest, vulnerable takes on the DCU's mightiest heroes in 
                years by putting the team in an emotional, new light that is shaping up to be 
                tested as the story escalates from here.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Images/Black-Panther.jpg" height="250" width="200"/>
        </td>
        <td>
            <p>
                Black Panther #25 marks the final issue of famed writer Ta-Nehisi Coates' five-year
                tenure steering the King of Wakanda's solo series. Coates' began writing Black
                Panther all the way back in 2016, and since then, his run has been praised as a
                character-defining chapter in King T'Challa's 50+ year history. With phenomenal art
                from Daniel Acuña and Brian Stelfreeze, and intense, impressive color work from
                Laura Martin and Daniel Acuña, the finale of Black Panther is a spectacle that's
                as thoughtful as it is stunning.
                <br /><br />
                Black Panther #25, while every bit a worthy final chapter to Coates' Black Panther
                run, those jumping into the finale blind should not expect the easiest jumping-on
                point. The issue follows a massive battle for the kingdom of Wakanda, in which King
                T'Challa's army of allies and friends faces off against the forces of Emperor
                N'Jadaka, the super-powered, symbiote bonded head of a conquering Wakandan state
                from the future.
            </p>
        </td>
    </tr>
</table>
